.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #C5CAE9;
    width: 50%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    position: relative;
}

.modal-content .modal-close {
    position: absolute;
    top: -8px;
    right: 3px;
    background-color: #C5CAE9;
    color: #1A237E !important;
    border: none;
}

.modal-content h2 {
    color: #1A237E !important;
    font-weight: 400;
}

.modal-content button {
    background-color: #1A237E;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    color: white !important;
}

.modal-content form {
    margin: 10px 0;
}

.modal-content form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 100px;
}

.modal-content article {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    padding: 15px;
    margin: 10px;
    position: relative;
    width: 35%;
}

.modal-content p {
    color: #1a237e !important;
    margin: 0;
}

.modal-content section {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    align-items: flex-start;
    overflow: auto;
    align-content: flex-start;
}

.modal-content .ctrl-btns {
    position: absolute;
    display: flex;
    top: 3px;
    right: 0;
}

.modal-content .ctrl-btns button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: #1A237E !important;
    padding: 0;
    margin: 0 5px;
}

@media only screen and (max-width: 768px) {
    .modal-content article {
        width: 100%;
    }
}