.search-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.search-form input {
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    margin-left: 10px;
}

.search-form label,
.search-form input {
    font-size: 1rem;
}

@media only screen and (max-width: 500px) {
    .search-form {
        flex-direction: column;
    }

    .search-form label {
        margin-bottom: 10px;
    }
}