.background-image {
  background-size: cover;
}

.background-image > img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
}

.background-image .overlay {
  background-color: rgba(0,0,0,0.4);
  min-height: 100vh;
}

.background-image h1,
.background-image h2,
.background-image p,
.background-image label {
  color: white;
}

h1, h2 {
  margin: 0;
  font-weight: 100;
}