.background-image {
  background-size: cover;
}

.background-image > img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
}

.night > img {
  height: 100%;
}

.day > img {
  height: 100%;
}

.background-image .overlay {
  min-height: 100vh;
}

.day .overlay {
  background-color: rgba(150, 181, 229, 0.7);
}

.night .overlay {
  background-color: rgba(60, 74, 144, 0.4);
}

.night h1,
.night h2,
.night p,
.night label,
.night button {
  color: white;
}

.day h1,
.day h2,
.day p,
.day label,
.day button {
  color: black;
}

h1, h2 {
  margin: 0;
  font-weight: 100;
}