.background-image {
  background-size: cover;
  min-height: 100vh;
}

.background-image .overlay {
  background-color: rgba(0,0,0,0.4);
}

.background-image h1, h2, p {
  color: white;
}

h1, h2 {
  margin: 0;
  font-weight: 100;
}